@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right text-white" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li>
                @{
                    var userId = User.Identity.GetUserId();
                    var db = new TourismProject.Models.ApplicationDbContext();
                    string displayName = User.Identity.GetUserName(); // fallback

                    if (User.IsInRole("Tourist"))
                    {
                        var tourist = db.Tourists.FirstOrDefault(t => t.UserId == userId);
                        if (tourist != null)
                        {
                            displayName = tourist.FullName;
                        }
                    }
                    else if (User.IsInRole("Agency"))
                    {
                        var agency = db.Agencies.FirstOrDefault(a => a.UserId == userId);
                        if (agency != null)
                        {
                            displayName = agency.AgencyName;
                        }
                    }
                }
                @Html.ActionLink("Hello " + displayName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link text-white" })

            </li>
            <li><a class="nav-link text-white" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="d-inline-flex align-items-center text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-plus-icon lucide-user-round-plus"><path d="M2 21a8 8 0 0 1 13.292-6" /><circle cx="10" cy="8" r="5" /><path d="M19 16v6" /><path d="M22 19h-6" /></svg>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link text-white" })
        </li>
        <li class="d-inline-flex align-items-center text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-in-icon lucide-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" /><polyline points="10 17 15 12 10 7" /><line x1="15" x2="3" y1="12" y2="12" /></svg>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link text-white" })
        </li>
    </ul>
}